<div class="top">
    <h2>いまどうしてるの？をつぶやこう</h2>
    <div class="tweets">
        <ul>
            <% @tweets.each do |tweet| %>
            <li>
                <%= tweet.name %>：<%= tweet.tweet %>
                <span><%= tweet.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
            </li>
            <% end %>
        </ul>
    </div>
</div>