<div class="new-tweet">
    <div class="errors">
        <% @errors.each do |error| %>
            <p><%= error %></p>
        <% end%>
    </div>
    <!-- <form method="post"> -->
    <%= form_tag("/tweets/create") do %>    
        <div class="text-wrap">
            <input type="text" name="name" placeholder="ユーザ名" value="<%= params[:name] %>">
        </div>
        <div class="textarea-wrap">
            <textarea name="tweet" placeholder="つぶやきを140字以内で記述"><%= params[:tweet] %></textarea>
        </div>
        <input type="submit" value="送信">
    <% end %>
    <!-- </form> -->
</div>

