.new-tweet{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    form{
        txt-align: right;
        textarea{
            width: 100%;
            height: 120px;
            border: solid 1px #eee;
            padding: 5px 0 5px 0;
            margin: 0;
        }
        input[type="text"]{
            max-width: 100%;
            min-width: 100%;
            box-sizing: border-box;
            margin-right: 5px;
            height: 30px;
            border: solid 1px #eee;
            padding: 5px 0 5px 0;
            margin-bottom: 8px;
            font-size: 15px;
        }
        input[type="submit"]{
            background-color: skyblue;
            color: white;
            border: solid 1px darken(skyblue, 5%);
            padding: 5px 8px;
            opacity: 0.8;
            cursor: pointer;
            width: 100px;
            &:hover{
              opacity: 1;  
            }
        }
        .textarea-wrap{
            margin-bottom: 10px;
        }
    }
}
.errors{
    color: red;
}
