<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "ひことこ掲示板", root_path %></h1>
      <ul>
          <li>
              <%= link_to "新規投稿", new_tweet_path %>
          </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
